<!DOCTYPE html>
<html lang="pl">
<!--
 _________________________________________________________
|                                                         |
|    DESIGN + http://fullahead.org                        |
|      DATE + 2005.05.12                                  |
| COPYRIGHT + free use if this notice is kept in place    |
|_________________________________________________________|

-->
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Strona V Ogólnopolskiej Konferencji Kół Naukowych Fizyków PIKNIK NAUKOWY 2006 - 20-23 kwietnia 2006 Cieszyn" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "../css/screen_yellow.css" | absolute_url }}" />
</head>

<body>

	<div id="wrapper">
    <div id="site">
  		<div id="header">
  			<span class="title">
  				<span class="white">PIKNIK NAUKOWY</span>2006
  				<span class="subTitle">www.knf.us.edu.pl/konf2006</span>
  	    </span>
  			<!-- Menu is displayed in reverse order from how you define it (caused by float: right) -->
  			<a href="{% link cieszyn.md %}" class="lastMenuItem" title="cieszyn">miejsce konferencji<span class="desc">dojazd, o Cieszynie</span></a>
  			<a href="{% link info.md %}" title="informacje">informacje<span class="desc">organizatorzy i sponsorzy</span></a>
  			<a href="{% link konferencja.md %}" title="konferencja">konferencja<span class="desc">rejestracja, uczestnicy, program i plan</span></a>
  			<a href="{% link komunikaty.md %}" title="komunikaty">komunikaty<span class="desc">zakwaterowanie, opłaty, pliki</span></a>
  			<a href="{% link index.md %}" title="informacje ogólne">strona główna<span class="desc">informacje ogólne</span></a>
  		</div>

  		<div id="content">
  			<div id="contentLeft">
  				<p><span class="header">Patronat honorowy</span></p>

  				<ul>
  					<li>JM Rektor Uniwersytetu Śląskiego w Katowicach <b>prof. dr hab. Janusz Janeczek</b></li>
  					<li>Prezes Polskiego Towarzystwa Fizycznego <b>prof. dr hab. Reinhard Kulessa</b></li>
  					<li>Burmistrz Miasta Cieszyna <b>dr inż. Bogdan Ficek</b></li>
  				</ul>

  				<p><span class="header">Organizatorzy</span></p>

  				<p>
  					<a href="http://knf.us.edu.pl/" title="KNF" class="menuItem">Koło Naukowe Fizyków Uniwersytetu Śląkiego w Katowicach</a>
  					<a href="http://smptf.phys.us.edu.pl/" title="SMPTF" class="menuItem">Sekcja Młodych Polskiego Towarzystwa Fizycznego</a>
  				</p>
  			</div>

  			<div id="contentRight">
  				{{ content }}
      	</div>
    	</div>
    </div>

	  <div id="footer">
			<a href="http://validator.w3.org/check?uri=referer"><img alt="Valid XHTML 1.1" src="{{ "../images/icons/xhtml.png" | absolute_url }}" /></a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS" src="{{ "../images/icons/css.png" | absolute_url }}" /></a>
			<a href="http://www.vim.org/"><img alt="VIM" src="{{ "../images/icons/vim.png" | absolute_url }}" /></a>
			<a href="http://www.gentoo.org/"><img alt="Gentoo" src="{{ "../images/icons/gentoo.png" | absolute_url }}" /></a>
			<a href="http://www.mozilla.org/products/firefox"><img alt="Firefox" src="{{ "../images/icons/firefox.png" | absolute_url }}" /></a>
			<a href="http://www.gimp.org/"><img alt="The GIMP" src="{{ "../images/icons/gimp.png" | absolute_url }}" /></a>
			<a href="http://www.nosoftwarepatents.com/en/m/intro/index.html"><img alt="No Software Patents" src="{{ "../images/icons/noepatents.png" | absolute_url }}" /></a>
			<a href="http://www.againsttcpa.com/"><img alt="Against-TCPA" src="{{ "../images/icons/tcpa.png" | absolute_url }}" /></a>
			<a href="http://www.bykom-stop.avx.pl/"><img alt="Bykom Stop!" src="{{ "../images/icons/bykomstop.png" | absolute_url }}" /></a><br />
			design based on <a href="http://oswd.org/userinfo.phtml?user=snop" title="OSWD design work">snop's</a> template
	  </div>

	</div>

</body>
</html>
